.Button{
  border: white solid 1px;
  width:80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  color: white;
  background: none;
  transition: background-color 1s;
  outline: 0;
}

button.Button:hover{
  background-color: rgba(52, 152, 219,1.0);
  border-width: 0px;
}
