.filterContainer{
  border-bottom: solid 1px #e1e8ed;
  /*margin-top: 1.3%;*/
  width: 80%;
  /*margin-left: 10%;*/
  /*position: absolute;*/
  /*top: 198px;*/
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 50px;
  background-color: rgba(255,255,255,1);

}

.filter{

  font-size: 150%;

  width: 20%;
  text-align: center;
  border-left: solid 1px #e1e8ed;
  border-right: solid 1px #e1e8ed;
  padding-top: 10px;
  /*margin-top: 10px;*/
  padding-bottom: 0.7%;
  position: relative;



}

.active{
  border-bottom: solid 4px blue;
}
